<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>newsworld</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>newslite</string>
          <string>com.joshcodes.newslite</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+newsworld</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fb</string>
      <string>instagram</string>
      <string>twitter</string>
      <string>tiktoksharesdk</string>
      <string>whatsapp</string>
      <string>whatsappbusiness</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Allow NEWSWORLD to access your camera.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Allow NEWSWORLD to use your location.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow NEWSWORLD to access your photos.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>CabinetGrotesk-Black.otf</string>
      <string>CabinetGrotesk-Bold.otf</string>
      <string>CabinetGrotesk-Extrabold.otf</string>
      <string>CabinetGrotesk-Extralight.otf</string>
      <string>CabinetGrotesk-Light.otf</string>
      <string>CabinetGrotesk-Medium.otf</string>
      <string>CabinetGrotesk-Regular.otf</string>
      <string>CabinetGrotesk-Thin.otf</string>
      <string>CabinetGrotesk-Variable.ttf</string>
      <string>Montserrat-Black.otf</string>
      <string>Montserrat-BlackItalic.otf</string>
      <string>Montserrat-Bold.otf</string>
      <string>Montserrat-BoldItalic.otf</string>
      <string>Montserrat-ExtraBold.otf</string>
      <string>Montserrat-ExtraBoldItalic.otf</string>
      <string>Montserrat-ExtraLight.otf</string>
      <string>Montserrat-ExtraLightItalic.otf</string>
      <string>Montserrat-Italic.otf</string>
      <string>Montserrat-Light.otf</string>
      <string>Montserrat-LightItalic.otf</string>
      <string>Montserrat-Medium.otf</string>
      <string>Montserrat-MediumItalic.otf</string>
      <string>Montserrat-Regular.otf</string>
      <string>Montserrat-SemiBold.otf</string>
      <string>Montserrat-SemiBoldItalic.otf</string>
      <string>Montserrat-Thin.otf</string>
      <string>Montserrat-ThinItalic.otf</string>
      <string>Montserrat-Variable.ttf</string>
      <string>Montserrat-VariableItalic.ttf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>